
  <%= form_with model: @mock_service, local: true do |form| %>
    <% if @mock_service.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@mock_service.errors.count, "error") %> prohibited
          this service from being saved:
        </h2>
        <ul>
          <% @mock_service.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= form.label :title %><br>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :code %><br>
      <%= form.text_field :code, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :url %><br>
      <%= form.text_field :url, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :service_provider %><br>
      <%= form.text_field :service_provider, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :request %><br>
      <%= form.text_area :request, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :response %><br>
      <%= form.text_area :response, class: "form-control" %>
    </div>
    <!-- <button type="submit" class="btn btn-default">Submit</button> -->
    <%= submit_tag "Submit", class: "btn btn-default" %>
  <% end %>
